* {
  margin: 0;
  padding: 0;
}

body, input, textarea, select, option, legend, fieldset {
  font-family: "Bitstream Vera Sans",Verdana,Arial,Helvetica;
  font-size: 12px;
}

body {
  background-color: #666666;
  text-align: left;
  margin: 0px;
  padding: 0px;
  min-width: 780px;
}

h1, h2, h3, h4, h5, h6 {
  font-weight: normal;
  margin: 0pt;
}

h1 {
font-size:1.6em;
}

h2 {
font-size:1.5em;
}

h3 {
  font-size: 1.3em;
}

h4, h5, h6 {
font-size:1.1em;
}

a:link, a:visited {
  color: #666;
  text-decoration: none;
}

a:hover {
  color: #333;
  text-decoration: underline;
}

a:active, a.active {
  color: #CC6600;
}

hr {
  margin: 0;
  padding: 0;
  border: none;
  height: 1px;
  background: #5294c1;
}

.box {
  margin-bottom: 2.5em;
}

#bd #container {
  margin: 0pt auto;
  max-width: 950px;
  min-width: 770px;
  position:relative;
  width: 95%;
  background: #FFFFFF;
  border: 1px solid #000000;
  text-align: left;
  overflow: hidden;
  
}

#box {
}

#boxBoth {
  padding-left: 180px;
  padding-right: 180px;
}

#boxLeft {
  padding-left: 180px;
}

#boxRight {
  padding-right: 180px;
}

#box .column, #boxBoth .column, #boxLeft .column, #boxRight .column {
  float: left;
  position: relative;
}

/* Equal height columns.
#container .column {
  padding-bottom: 20010px;
  margin-bottom: -20000px;
}
*/

#center {
  width: 100%;
  padding: 0px 5px;
}

/* IE6 fix */
* html #left {
  left: -10px;
}

* html #boxBoth #left {
  left: 220px;
}

#left {
  width: 180px;
  margin-left: -100%;
  right: 190px;

  background-color: #EBEBEB;
  border-right: 1px solid #DBDBDB;
  border-bottom: 1px solid #DBDBDB;
  border-top: 1px solid #DBDBDB;
}

/* IE7 #left fix */
*+html #boxLeft > #left, *+html #boxBoth > #left {
  left: -184px;             /* Negative of (LC fullwidth + CC padding) = width for all browers other than IE7 */
  margin-left: expression(
  document.all.center.offsetWidth * -1 +
  parseFloat(document.all.center.currentStyle.paddingLeft) +
  parseFloat(document.all.left.currentStyle.paddingLeft) +
  parseFloat(document.all.left.currentStyle.paddingRight)
  ); /* Fix for IE7 */
}

#right {
  width: 179px;
  margin-right: -190px;

  background-color: #EBEBEB;
  border-left: 1px solid #DBDBDB;
  border-bottom: 1px solid #DBDBDB;
  border-top: 1px solid #DBDBDB;
}

#header {
  padding: .25em 1em; 
	border-left: #6A6A6A 1px solid;
  background: url(images/topBG2.png) repeat-x #333333;
  height: 80px;
}

#header h1 {
  margin: 0;
  padding: .75em 0;
}

#bd #header h1#site-name {
  font-size: 2.95em;
  color: white;
}

#header h1 a {
  color: white;
}

#header h2 {
  margin: 0pt;
  padding: 0pt;
}

#header h2 a {
  background:transparent url(images/logo.png) no-repeat scroll 0%;
  display:block;
  height:69px;
  overflow:hidden;
  text-indent:-9999px;
  width:318px;
}

#bd #topShadow{
  width: 100%;
  background: url(images/shadow-top-light.png) repeat-x top #fff;
  padding: 6px 0 0 0; 
}

/* navlist */
  #bd #nav {
    border-top: #6A6A6A 1px solid;
    border-bottom: #6A6A6A 1px solid;
    padding: .5em .75em;
    background-color: #000;
  }

  ul#navlist {
    margin-left: 0;
    padding-left: 0;
    white-space: nowrap;
  }

  ul#navlist li {
    display: inline;
    list-style-type: none;
    background: none;
    padding: 0pt;
  }

  #navlist a {
    padding: 3px 10px;
    text-decoration: none;
  }
    
  #navlist a:link, #navlist a:visited  {
    color: #5B5B5B;
  }

  #navlist a:hover {
    color: #fff;
  }

  #navlist a.active, #navlist a.active a:hover {
    color: #fff;
  }

/* breadcrumbs */
  #breadcrumb {
    padding: 0 0 .1em 0;
  }

  #breadcrumb .wrapper {
    padding-left: 1em;
  }

/* footer */
  #footer {
    position: relative;
  }

  #footer .wrapper {
    color: #656565;
    padding: 0 0.5em;

  }

  #bd div#footer { 
    margin: 0pt;
    padding: 0pt;
    background: url(images/shadow-bottom-light.png) repeat-x bottom #EBEBEB;
    width: 100%;
    border-top: #C5C5C5 1px solid;
    clear: both;
  } 

  #footer p {
    margin: 0;
    padding: .75em 0;
  }

  #footer .wrapper p {
    color: #656565;
    width:40%;
  }

  #footer .wrapper ul#subnavlist {
    display: inline;
    list-style-type: none;
    background: none;
    padding: 0.75em 0pt;
    float: right;
  }

  #footer .wrapper li {
    border-right: 1px solid #656565;
    display: block;
    float: left;
    padding: 0pt 10px;
    margin: 0pt;
  }

  #footer .wrapper li.last {
    border-right-style: none;
    padding-right: 0pt;
  }

/* begin center UL/LI fixes */
  #center ul {
    margin-left: 1.1em;
  }

  #center ol {
    margin-left: 1.6em;
  }

  #center ul.inline {
    margin-left: 0px;
  }
/* end UL/LI fixes */

/* for tinyMCE */
body.mceContentBody {
  background: #fff;
  color: #000;
  text-align: left;
}